

.header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
}

.header button{
    width: 15%;
}

.links{
    justify-content:baseline;
}

.link{
    margin: 0 8px;
    color: #f1830e;
}

.link:hover{
    color:  #c86a06;
}

.button{
    background-color: #f1830e;
    color: white;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease-in-out;
}

.button:hover{
    background-color: #c86a06;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}
